.articleAuthorContainer {
  display: flex;
  align-items: center;
}

.authorImg {
  height: 30px;
}

.authorName {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
}

.articleDate {
  margin-left: 10px;
  font-size: 12px;
}
