.articleAuthorContainer {
  display: flex;
  align-items: center;
}

.authorImg {
  height: 30px;
}
.authorInfo {
  &__divider {
    display: none;
    &-- {
      display: block;
    }
  }

  &--inline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
  }

  &__authorName {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
  }

  &__articleDate {
    margin-left: 10px;
    font-size: 12px;
  }
}
